<section class="vybe-canvas-section">
    <div class="vybe-canvas-container">
        <canvas id="vybeCanvas"></canvas>
        <!-- Motion Permission Button (Mobile Only) -->
        <button id="enableMotionBtn" class="motion-btn">Enable Motion ⚡️</button>
    </div>
</section>

{% schema %}
{
  "name": "Canvas Banner",
  "settings": [],
  "presets": [
    {
      "name": "Canvas Banner"
    }
  ]
}
{% endschema %}
